body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px 0px!important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.table{
  margin-top: 50px;
  width: 1100px !important;
}

.button{
  margin-right: 20px ;
}
.card{
  margin: 56px 350px;
  width: 600px;
}
.card-header-content{
  font-weight: bolder;
  font-size:xx-large;
  display: flex;
  justify-content:center ;
}
.card-footer{
  justify-content: center;
}

.modal{
  height: 100vh ;
  /* margin-top: 10px; */
}
.details-content{
  display: grid;
  grid-template-columns: 3fr 1fr;
  row-gap: 15px;
}
.footer{
  position:fixed;
  bottom:0;
  border-radius:0;
}
img {
  width: 100%;
  height: 100%;
}
.hover-image-container {
  position: relative;
  }
  
  .hover-image-text {
  position: absolute;
  height: 100%;

bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease;
  }
  
  .hover-image-container:hover .hover-image-text {
  visibility: visible;
  opacity: 1;
  }
  .heading{
 margin-top:80px;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .short-heading{
    font-size: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  p.heading,.short-heading{
    text-align: center;
  }

  .flex-custom{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* overflow-x: clip; */
    /* padding: 30px 0px; */
    flex: 1;
    width: -webkit-fill-available;
  }
  .flex-custom1{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: clip;
    min-height: 100vh;
    /* padding: 30px 0px; */
  }
  ::-webkit-scrollbar{
    display: none;
  }
  .footer-content{
    display: flex;
    margin: 0px 50px;
  }
  .button-div{
    padding: 10px 0px;
  }

  .footer-container {
    /* position: fixed; */
    /* bottom: 0;
    width: 100%;
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center; */
    flex-shrink: 0;
  }
  
  
  